In [19]:
import pandas as pd
import numpy as np

In [20]:
df_anuncios = pd.read_csv('anuncios.csv', index_col='id', engine='python', sep =',', encoding="utf-8")
df_anuncios.head()

,host_name,host_response_time,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood,zipcode,latitude,longitude,property_type,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,calculated_host_listings_count,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
17878,Matthias,within an hour,1.00,t,t,Copacabana,22020-050,-22.96592,-43.17896,Condominium,...,9.0,10.0,10.0,10.0,10.0,9.0,t,strict_14_with_grace_period,1,2.13
25026,Viviane,within a day,0.91,f,t,Copacabana,22060-020,-22.97712,-43.19045,Apartment,...,9.0,10.0,9.0,10.0,10.0,9.0,f,strict_14_with_grace_period,3,2.04
31560,Renata,within an hour,1.00,t,t,Ipanema,22410-003,-22.98302,-43.21427,Apartment,...,10.0,10.0,10.0,10.0,10.0,10.0,t,strict_14_with_grace_period,1,2.38
35636,Patricia,within an hour,1.00,t,t,Ipanema,22081-020,-22.98816,-43.19359,Apartment,...,10.0,9.0,10.0,10.0,10.0,9.0,f,strict_14_with_grace_period,1,2.28
35764,Patricia Miranda & Paulo,within an hour,1.00,t,t,Copacabana,21031-300,-22.98127,-43.19046,Loft,...,10.0,10.0,10.0,10.0,10.0,10.0,f,strict_14_with_grace_period,1,2.84

In [21]:
df_amenities = pd.read_csv('amenities.csv', index_col='id', engine='python', sep =',', encoding="utf-8")
df_amenities.head()

,24-hour_check-in,Accessible-height_bed,Accessible-height_toilet,Air_conditioning,Amazon_Echo,BBQ_grill,Baby_bath,Baby_monitor,Babysitter_recommendations,Balcony,...,Wide_entrance,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50
id,,,,,,,,,,,,,,,,,,,,,
17878,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
25026,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
31560,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,1
35636,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
35764,0,1,1,1,0,0,0,0,0,0,...,0,1,1,0,1,0,0,0,0,1

In [22]:
df_metro_quadrado = pd.read_csv('metro_quadrado.csv', index_col='neighbourhood', engine='python', sep =',', encoding="utf-8")
df_metro_quadrado.head()

                  m2
neighbourhood
Ipanema        20907
Copacabana     12170
Leme           12210
Catete         10487
Lapa            3276

In [23]:
df_anuncios.describe()

,host_response_rate,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,security_deposit,cleaning_fee,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,reviews_per_month
count,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,...,9861.000000,9861.000000,9861.000000,9861.000000,9861.00000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000
mean,0.918139,-22.970356,-43.230672,4.232431,1.597303,1.568097,2.639083,345.807525,654.149072,145.846770,...,21.776189,94.803772,9.682487,9.456242,9.81148,9.786938,9.801846,9.331914,7.999392,0.863265
std,0.176137,0.028181,0.080298,2.334529,0.888020,0.995096,1.963937,677.145824,1360.089899,102.370078,...,35.432318,8.488587,0.795325,0.982110,0.65611,0.681050,0.608160,0.948932,21.941310,0.976393
min,0.000000,-23.072620,-43.567640,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,20.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,1.000000,0.010000
25%,0.900000,-22.984620,-43.224860,2.000000,1.000000,1.000000,1.000000,139.000000,0.000000,90.000000,...,3.000000,93.000000,10.000000,9.000000,10.00000,10.000000,10.000000,9.000000,1.000000,0.180000
50%,1.000000,-22.975110,-43.192810,4.000000,1.000000,1.000000,2.000000,210.000000,398.000000,150.000000,...,8.000000,98.000000,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,2.000000,0.530000
75%,1.000000,-22.962720,-43.185080,5.000000,2.000000,2.000000,3.000000,361.000000,800.000000,190.000000,...,24.000000,100.000000,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,4.000000,1.170000
max,1.000000,-22.806570,-43.159080,25.000000,15.000000,15.000000,35.000000,31398.000000,20991.000000,1469.000000,...,372.000000,100.000000,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,205.000000,8.410000

In [24]:
df_amenities.describe()

,24-hour_check-in,Accessible-height_bed,Accessible-height_toilet,Air_conditioning,Amazon_Echo,BBQ_grill,Baby_bath,Baby_monitor,Babysitter_recommendations,Balcony,...,Wide_entrance,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50
count,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,...,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000
mean,0.137714,0.103539,0.079505,0.863401,0.000101,0.054051,0.013183,0.001318,0.019673,0.000507,...,0.072711,0.134773,0.083866,0.124937,0.941182,0.057296,0.000406,0.030119,0.094717,0.138830
std,0.344617,0.304677,0.270539,0.343441,0.010070,0.226130,0.114065,0.036287,0.138883,0.022513,...,0.259674,0.341499,0.277200,0.330664,0.235295,0.232420,0.020137,0.170922,0.292838,0.345786
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
df_metro_quadrado

                         m2
neighbourhood
Ipanema               20907
Copacabana            12170
Leme                  12210
Catete                10487
Lapa                   3276
...                     ...
Vincente de Carvalho   1271
HonÃ³rio Gurgel         3064
Cavalcante              980
Deodoro                1000
Complexo do AlemÃ£o      543

[97 rows x 1 columns]

In [26]:
df_metro_quadrado.describe()

                 m2
count     97.000000
mean    3920.865979
std     4671.820038
min      440.000000
25%     1271.000000
50%     1689.000000
75%     4962.000000
max    23626.000000

In [27]:
df_airbnb = pd.concat([df_anuncios, df_amenities], axis=1)
df_airbnb

,host_name,host_response_time,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood,zipcode,latitude,longitude,property_type,...,Wide_entrance,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50
id,,,,,,,,,,,,,,,,,,,,,
17878,Matthias,within an hour,1.00,t,t,Copacabana,22020-050,-22.96592,-43.17896,Condominium,...,0,0,0,0,1,0,0,0,0,0
25026,Viviane,within a day,0.91,f,t,Copacabana,22060-020,-22.97712,-43.19045,Apartment,...,0,0,0,0,1,0,0,0,0,0
31560,Renata,within an hour,1.00,t,t,Ipanema,22410-003,-22.98302,-43.21427,Apartment,...,0,0,0,0,1,0,0,0,1,1
35636,Patricia,within an hour,1.00,t,t,Ipanema,22081-020,-22.98816,-43.19359,Apartment,...,0,0,0,0,1,0,0,0,0,0
35764,Patricia Miranda & Paulo,within an hour,1.00,t,t,Copacabana,21031-300,-22.98127,-43.19046,Loft,...,0,1,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40009653,Lya,within a few hours,1.00,f,f,Copacabana,22081-000,-22.98304,-43.19569,Apartment,...,0,0,0,0,1,0,0,0,0,0
40025707,Marcos Antonio,within an hour,1.00,f,t,Copacabana,22040-001,-22.97132,-43.18929,Apartment,...,0,0,0,0,1,0,0,0,0,0
40033232,Priscila,within a few hours,0.92,f,t,Santa Teresa,20241-080,-22.91599,-43.17894,Apartment,...,0,0,0,0,1,0,0,0,0,0
40050039,Roberto,within a few hours,0.88,f,f,Copacabana,22040-010,-22.96768,-43.18330,Apartment,...,0,0,0,0,1,0,0,0,0,0
40064433,Raquel Grama,within a few hours,1.00,f,f,Copacabana,22021-000,-22.97401,-43.18541,Apartment,...,0,0,0,0,1,0,0,0,0,0

In [28]:
df_airbnb.drop(columns='amenities', inplace=True)
df_airbnb

,host_name,host_response_time,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood,zipcode,latitude,longitude,property_type,...,Wide_entrance,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50
id,,,,,,,,,,,,,,,,,,,,,
17878,Matthias,within an hour,1.00,t,t,Copacabana,22020-050,-22.96592,-43.17896,Condominium,...,0,0,0,0,1,0,0,0,0,0
25026,Viviane,within a day,0.91,f,t,Copacabana,22060-020,-22.97712,-43.19045,Apartment,...,0,0,0,0,1,0,0,0,0,0
31560,Renata,within an hour,1.00,t,t,Ipanema,22410-003,-22.98302,-43.21427,Apartment,...,0,0,0,0,1,0,0,0,1,1
35636,Patricia,within an hour,1.00,t,t,Ipanema,22081-020,-22.98816,-43.19359,Apartment,...,0,0,0,0,1,0,0,0,0,0
35764,Patricia Miranda & Paulo,within an hour,1.00,t,t,Copacabana,21031-300,-22.98127,-43.19046,Loft,...,0,1,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40009653,Lya,within a few hours,1.00,f,f,Copacabana,22081-000,-22.98304,-43.19569,Apartment,...,0,0,0,0,1,0,0,0,0,0
40025707,Marcos Antonio,within an hour,1.00,f,t,Copacabana,22040-001,-22.97132,-43.18929,Apartment,...,0,0,0,0,1,0,0,0,0,0
40033232,Priscila,within a few hours,0.92,f,t,Santa Teresa,20241-080,-22.91599,-43.17894,Apartment,...,0,0,0,0,1,0,0,0,0,0
40050039,Roberto,within a few hours,0.88,f,f,Copacabana,22040-010,-22.96768,-43.18330,Apartment,...,0,0,0,0,1,0,0,0,0,0
40064433,Raquel Grama,within a few hours,1.00,f,f,Copacabana,22021-000,-22.97401,-43.18541,Apartment,...,0,0,0,0,1,0,0,0,0,0

In [29]:
df_airbnb = df_airbnb.join(df_metro_quadrado, on='neighbourhood', how='left')

In [30]:
# Converte os atributos categÃ³ricos em quantitativos discretos.
#for column in df_airbnb.columns:
#    if str(df_airbnb[column].dtype) not in ['float64', 'int64']:
#        df_airbnb[column] = df_airbnb[column].map \
#        (dict(zip(df_airbnb[column].unique().tolist(),range(len(df_airbnb[column].unique().tolist())))))
#df_airbnb

In [31]:
# Lista de atributos com maior correlaÃ§Ã£o direta ou inversa com o preÃ§o

corr = df_airbnb.corr()
corr['abs_price'] = abs(corr['price'])
corr.sort_values(by = ['abs_price'], ascending = False, inplace = True)
corr['price'][1:51]

bathrooms                         0.346099
bedrooms                          0.340403
cleaning_fee                      0.297867
accommodates                      0.289593
security_deposit                  0.232237
beds                              0.230465
guests_included                   0.206380
Free_parking_on_premises          0.156258
extra_people                      0.142784
Pool                              0.139611
Dryer                             0.129335
latitude                         -0.105419
m2                                0.104595
reviews_per_month                -0.101669
Hot_tub                           0.099603
Washer                            0.096270
Air_conditioning                  0.095262
Dishwasher                        0.089541
Crib                              0.087597
Suitable_for_events               0.082411
Family/kid_friendly               0.080306
Internet                          0.078954
Full_kitchen                      0.076998
calculated_host_listings_count    0.075752
number_of_reviews                -0.074788
Bathtub                           0.074269
Cable_TV                          0.069969
Wheelchair_accessible             0.069282
Paid_parking_off_premises        -0.068085
Pack_â€™n_Play/travel_crib          0.067810
Hot_water                        -0.067230
Dishes_and_silverware            -0.067081
Doorman                           0.065181
Indoor_fireplace                  0.062070
High_chair                        0.061885
Extra_pillows_and_blankets       -0.057701
Hair_dryer                        0.057628
Bed_linens                       -0.054339
BBQ_grill                         0.053823
Stove                            -0.052638
Private_pool                      0.050919
Refrigerator                     -0.049352
Cooking_basics                   -0.048962
Beachfront                        0.047830
Buzzer/wireless_intercom          0.047533
host_response_rate               -0.044784
Shampoo                           0.042974
Sun_loungers                      0.040840
Lock_on_bedroom_door             -0.040377
Pets_live_on_this_property       -0.039620
Name: price, dtype: float64

In [32]:
# SeleÃ§Ã£o dos vinte atributos mais relevantes Ã  modelagem preditiva (feature selection).

# Atributos redundantes nÃ£o serÃ£o selecionados para nÃ£o confundir o modelo.
# A seleÃ§Ã£o serÃ¡ feita com base na forÃ§a da correlaÃ§Ã£o e na unicidade da caracterÃ­stica descrita
# Por exemplo: Bathrooms, bedrooms, accomodates e beds referem-se Ã  mesma caracterÃ­stica: Capacidade de acomodaÃ§Ã£o do imÃ³vel
# Portanto, desses atributos, apenas um serÃ¡ selecionado.
# De acordo com o conhecimento do negÃ³cio, para essa caracterÃ­stica, serÃ¡ Bedrooms.
# Pois o atributo de maior destaque em relaÃ§Ã£o Ã  acomodaÃ§Ã£o, em anÃºncios de hospedagem, costuma ser a quantidade de quartos.

# Como o dataset possui 202 atributos e, pela descriÃ§Ã£o dos atributos mais relevantes, selecionamos os 10% melhores.

correlated = ['bedrooms', 'cleaning_fee', 'security_deposit', 'Free_parking_on_premises', 'extra_people', 'Pool', 'Dryer', 'm2', 'reviews_per_month', 'Hot_tub', 'Air_conditioning', 'Crib', 'Washer', 'Dishwasher', 'Suitable_for_events', 'property_type', 'Full_kitchen', 'Internet', 'Bathtub', 'Cable_TV']

In [33]:
# SeleÃ§Ã£o de atributos auxiliares e alvo

location = ['latitude', 'longitude', 'neighbourhood', 'property_type', 'room_type']
target = ['price']

In [34]:
# elaboraÃ§Ã£o da lista de features a serem analisadas

features = location + correlated + target
features

['latitude',
 'longitude',
 'neighbourhood',
 'property_type',
 'room_type',
 'bedrooms',
 'cleaning_fee',
 'security_deposit',
 'Free_parking_on_premises',
 'extra_people',
 'Pool',
 'Dryer',
 'm2',
 'reviews_per_month',
 'Hot_tub',
 'Air_conditioning',
 'Crib',
 'Washer',
 'Dishwasher',
 'Suitable_for_events',
 'property_type',
 'Full_kitchen',
 'Internet',
 'Bathtub',
 'Cable_TV',
 'price']

In [35]:
df_airbnb = df_airbnb[features]
df_airbnb

,latitude,longitude,neighbourhood,property_type,room_type,bedrooms,cleaning_fee,security_deposit,Free_parking_on_premises,extra_people,...,Crib,Washer,Dishwasher,Suitable_for_events,property_type,Full_kitchen,Internet,Bathtub,Cable_TV,price
id,,,,,,,,,,,,,,,,,,,,,
17878,-22.96592,-43.17896,Copacabana,Condominium,Entire home/apt,2.0,378.0,0.0,0,63.0,...,0,0,0,1,Condominium,0,1,0,1,332.0
25026,-22.97712,-43.19045,Copacabana,Apartment,Entire home/apt,1.0,250.0,1000.0,0,45.0,...,0,0,0,0,Apartment,0,1,0,1,160.0
31560,-22.98302,-43.21427,Ipanema,Apartment,Entire home/apt,1.0,84.0,0.0,0,42.0,...,0,0,0,0,Apartment,0,1,0,1,273.0
35636,-22.98816,-43.19359,Ipanema,Apartment,Entire home/apt,1.0,172.0,1050.0,0,63.0,...,0,1,0,0,Apartment,0,1,0,1,378.0
35764,-22.98127,-43.19046,Copacabana,Loft,Entire home/apt,1.0,140.0,400.0,0,80.0,...,0,0,0,0,Loft,0,0,0,1,130.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40009653,-22.98304,-43.19569,Copacabana,Apartment,Entire home/apt,2.0,150.0,0.0,0,100.0,...,0,1,0,0,Apartment,0,0,0,0,449.0
40025707,-22.97132,-43.18929,Copacabana,Apartment,Entire home/apt,1.0,140.0,500.0,0,25.0,...,0,0,0,0,Apartment,0,0,0,0,101.0
40033232,-22.91599,-43.17894,Santa Teresa,Apartment,Entire home/apt,0.0,120.0,0.0,0,50.0,...,0,0,0,0,Apartment,0,0,0,0,109.0
40050039,-22.96768,-43.18330,Copacabana,Apartment,Private room,1.0,200.0,0.0,0,0.0,...,0,1,0,0,Apartment,0,0,0,0,88.0
40064433,-22.97401,-43.18541,Copacabana,Apartment,Entire home/apt,2.0,200.0,500.0,0,0.0,...,0,0,0,0,Apartment,0,0,0,0,361.0

In [36]:
df_airbnb.to_csv('airbnb.csv')