In [1]:
import pandas as pd
import numpy as np

In [2]:
df_anuncios = pd.read_csv('anuncios.csv', index_col='id', engine='python', sep =',', encoding="utf-8")
df_anuncios.head()

,host_name,host_response_time,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood,zipcode,latitude,longitude,property_type,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,calculated_host_listings_count,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
32046194,Allan,within an hour,1.0,f,t,Ipanema,22410001,-22.98538,-43.19582,Apartment,...,9.0,10.0,10.0,10.0,10.0,8.0,f,strict_14_with_grace_period,1,0.40
2060895,Antonio,within an hour,0.9,f,f,Santa Teresa,20230-080,-22.91544,-43.18171,Guest suite,...,9.0,8.0,10.0,10.0,10.0,9.0,t,moderate,3,0.70
8067388,Rafaela,within an hour,1.0,f,f,Botafogo,22271-020,-22.95565,-43.19536,Apartment,...,7.0,9.0,9.0,9.0,8.0,6.0,f,strict_14_with_grace_period,1,0.04
26081807,Claudia,within an hour,1.0,t,t,Leblon,22440-035,-22.98617,-43.22759,Apartment,...,10.0,10.0,10.0,10.0,10.0,10.0,f,strict_14_with_grace_period,4,3.92
31051808,Mariana,within a day,0.5,f,f,Botafogo,22260-120,-22.94991,-43.19289,Apartment,...,10.0,9.0,10.0,9.0,9.0,10.0,t,moderate,1,0.18

In [3]:
df_amenities = pd.read_csv('amenities.csv', index_col='id', engine='python', sep =',', encoding="utf-8")
df_amenities.head()

,24-hour_check-in,Accessible-height_bed,Accessible-height_toilet,Air_conditioning,Amazon_Echo,BBQ_grill,Baby_bath,Baby_monitor,Babysitter_recommendations,Balcony,...,Wide_entrance,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50
id,,,,,,,,,,,,,,,,,,,,,
32046194,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2060895,0,1,1,0,0,0,0,0,0,0,...,1,1,1,1,1,1,0,1,0,0
8067388,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
26081807,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
31051808,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [4]:
df_metro_quadrado = pd.read_csv('metro_quadrado.csv', index_col='neighbourhood', engine='python', sep =',', encoding="utf-8")
df_metro_quadrado.head()

                  m2
neighbourhood
Ipanema        20907
Copacabana     12170
Leme           12210
Catete         10487
Lapa            3276

In [5]:
df_anuncios.describe()

,host_response_rate,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,security_deposit,cleaning_fee,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,reviews_per_month
count,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,...,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000
mean,0.916867,-22.970410,-43.230562,4.243222,1.600111,1.573000,2.646778,347.661889,645.295000,145.930667,...,21.565333,94.822778,9.680000,9.456556,9.811778,9.789111,9.801000,9.329889,8.118889,0.860194
std,0.177116,0.028031,0.080161,2.348808,0.888294,0.998612,1.986623,697.286816,1326.125618,102.716399,...,34.932414,8.495257,0.799794,0.983869,0.660268,0.681192,0.613819,0.951167,22.325101,0.974468
min,0.000000,-23.072620,-43.567640,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,0.010000
25%,0.900000,-22.984620,-43.224972,2.000000,1.000000,1.000000,1.000000,139.000000,0.000000,90.000000,...,3.000000,93.000000,10.000000,9.000000,10.000000,10.000000,10.000000,9.000000,1.000000,0.180000
50%,1.000000,-22.975085,-43.192780,4.000000,1.000000,1.000000,2.000000,210.000000,399.000000,150.000000,...,8.000000,98.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,2.000000,0.530000
75%,1.000000,-22.962750,-43.185115,5.000000,2.000000,2.000000,3.000000,361.000000,800.000000,190.000000,...,24.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000,1.160000
max,1.000000,-22.806570,-43.159080,25.000000,15.000000,15.000000,35.000000,31398.000000,20000.000000,1469.000000,...,372.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,205.000000,8.410000

In [6]:
df_amenities.describe()

,24-hour_check-in,Accessible-height_bed,Accessible-height_toilet,Air_conditioning,Amazon_Echo,BBQ_grill,Baby_bath,Baby_monitor,Babysitter_recommendations,Balcony,...,Wide_entrance,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50
count,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,...,9000.000000,9000.000000,9000.000000,9000.000000,9000.0000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000
mean,0.135333,0.103222,0.078333,0.863333,0.000111,0.054333,0.013333,0.001222,0.018889,0.000444,...,0.073222,0.134889,0.084000,0.125111,0.9400,0.057000,0.000444,0.029778,0.094444,0.138000
std,0.342098,0.304266,0.268710,0.343514,0.010541,0.226687,0.114704,0.034941,0.136140,0.021078,...,0.260515,0.341624,0.277403,0.330863,0.2375,0.231856,0.021078,0.169983,0.292462,0.344919
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.0000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.0000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.0000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
df_metro_quadrado

                         m2
neighbourhood
Ipanema               20907
Copacabana            12170
Leme                  12210
Catete                10487
Lapa                   3276
...                     ...
Vincente de Carvalho   1271
HonÃ³rio Gurgel         3064
Cavalcante              980
Deodoro                1000
Complexo do AlemÃ£o      543

[97 rows x 1 columns]

In [8]:
df_metro_quadrado.describe()

                 m2
count     97.000000
mean    3920.865979
std     4671.820038
min      440.000000
25%     1271.000000
50%     1689.000000
75%     4962.000000
max    23626.000000

In [9]:
df_airbnb = pd.concat([df_anuncios, df_amenities], axis=1)
df_airbnb

,host_name,host_response_time,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood,zipcode,latitude,longitude,property_type,...,Wide_entrance,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50
id,,,,,,,,,,,,,,,,,,,,,
32046194,Allan,within an hour,1.00,f,t,Ipanema,22410001,-22.98538,-43.19582,Apartment,...,0,0,0,0,1,0,0,0,0,0
2060895,Antonio,within an hour,0.90,f,f,Santa Teresa,20230-080,-22.91544,-43.18171,Guest suite,...,1,1,1,1,1,1,0,1,0,0
8067388,Rafaela,within an hour,1.00,f,f,Botafogo,22271-020,-22.95565,-43.19536,Apartment,...,0,0,0,0,1,0,0,0,0,0
26081807,Claudia,within an hour,1.00,t,t,Leblon,22440-035,-22.98617,-43.22759,Apartment,...,0,0,0,0,1,0,0,0,0,0
31051808,Mariana,within a day,0.50,f,f,Botafogo,22260-120,-22.94991,-43.19289,Apartment,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9585159,Nicole,a few days or more,0.25,f,t,Leblon,22430-210,-22.98618,-43.22230,Apartment,...,0,0,0,0,1,0,0,0,0,0
33040588,Vera Lucia,within a day,0.83,f,f,Barra da Tijuca,22795-006,-23.01099,-43.37111,Apartment,...,0,0,0,0,1,0,0,0,0,0
316355,Paula And Marilia,within a few hours,0.91,f,f,Leblon,22431-000,-22.97916,-43.22686,Apartment,...,0,0,0,0,1,0,0,0,0,0
20706150,Angela,within an hour,1.00,t,f,Ipanema,22410-003,-22.98422,-43.21260,Apartment,...,0,0,0,0,1,0,0,0,0,0
2081842,Elizabeth,within an hour,1.00,f,f,Copacabana,22051-002,-22.97370,-43.18741,Apartment,...,0,0,0,0,1,0,0,0,0,0

In [10]:
df_airbnb.drop(columns='amenities', inplace=True)
df_airbnb

,host_name,host_response_time,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood,zipcode,latitude,longitude,property_type,...,Wide_entrance,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50
id,,,,,,,,,,,,,,,,,,,,,
32046194,Allan,within an hour,1.00,f,t,Ipanema,22410001,-22.98538,-43.19582,Apartment,...,0,0,0,0,1,0,0,0,0,0
2060895,Antonio,within an hour,0.90,f,f,Santa Teresa,20230-080,-22.91544,-43.18171,Guest suite,...,1,1,1,1,1,1,0,1,0,0
8067388,Rafaela,within an hour,1.00,f,f,Botafogo,22271-020,-22.95565,-43.19536,Apartment,...,0,0,0,0,1,0,0,0,0,0
26081807,Claudia,within an hour,1.00,t,t,Leblon,22440-035,-22.98617,-43.22759,Apartment,...,0,0,0,0,1,0,0,0,0,0
31051808,Mariana,within a day,0.50,f,f,Botafogo,22260-120,-22.94991,-43.19289,Apartment,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9585159,Nicole,a few days or more,0.25,f,t,Leblon,22430-210,-22.98618,-43.22230,Apartment,...,0,0,0,0,1,0,0,0,0,0
33040588,Vera Lucia,within a day,0.83,f,f,Barra da Tijuca,22795-006,-23.01099,-43.37111,Apartment,...,0,0,0,0,1,0,0,0,0,0
316355,Paula And Marilia,within a few hours,0.91,f,f,Leblon,22431-000,-22.97916,-43.22686,Apartment,...,0,0,0,0,1,0,0,0,0,0
20706150,Angela,within an hour,1.00,t,f,Ipanema,22410-003,-22.98422,-43.21260,Apartment,...,0,0,0,0,1,0,0,0,0,0
2081842,Elizabeth,within an hour,1.00,f,f,Copacabana,22051-002,-22.97370,-43.18741,Apartment,...,0,0,0,0,1,0,0,0,0,0

In [11]:
df_airbnb = df_airbnb.join(df_metro_quadrado, on='neighbourhood', how='left')

In [12]:
# Converte os atributos categÃ³ricos em quantitativos discretos.
for column in df_airbnb.columns:
    if str(df_airbnb[column].dtype) not in ['float64', 'int64']:
        df_airbnb[column] = df_airbnb[column].map \
        (dict(zip(df_airbnb[column].unique().tolist(),range(len(df_airbnb[column].unique().tolist())))))
df_airbnb

,host_name,host_response_time,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood,zipcode,latitude,longitude,property_type,...,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50,m2
id,,,,,,,,,,,,,,,,,,,,,
32046194,0,0,1.00,0,0,0,0,-22.98538,-43.19582,0,...,0,0,0,1,0,0,0,0,0,20907
2060895,1,0,0.90,0,1,1,1,-22.91544,-43.18171,1,...,1,1,1,1,1,0,1,0,0,7868
8067388,2,0,1.00,0,1,2,2,-22.95565,-43.19536,0,...,0,0,0,1,0,0,0,0,0,11379
26081807,3,0,1.00,1,0,3,3,-22.98617,-43.22759,0,...,0,0,0,1,0,0,0,0,0,23626
31051808,4,1,0.50,0,1,2,4,-22.94991,-43.19289,0,...,0,0,0,1,0,0,0,0,0,11379
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9585159,2444,3,0.25,0,0,3,187,-22.98618,-43.22230,0,...,0,0,0,1,0,0,0,0,0,23626
33040588,1674,1,0.83,0,1,6,468,-23.01099,-43.37111,0,...,0,0,0,1,0,0,0,0,0,9335
316355,1026,2,0.91,0,1,3,161,-22.97916,-43.22686,0,...,0,0,0,1,0,0,0,0,0,23626
20706150,120,0,1.00,1,1,0,56,-22.98422,-43.21260,0,...,0,0,0,1,0,0,0,0,0,20907
2081842,904,0,1.00,0,1,7,99,-22.97370,-43.18741,0,...,0,0,0,1,0,0,0,0,0,12170

In [13]:
# Lista de atributos com maior correlaÃ§Ã£o direta ou inversa com o preÃ§o

corr = df_airbnb.corr()
corr['abs_price'] = abs(corr['price'])
corr.sort_values(by = ['abs_price'], ascending = False, inplace = True)
corr['price'][1:51]

bathrooms                         0.339702
bedrooms                          0.332185
cleaning_fee                      0.292823
accommodates                      0.283016
security_deposit                  0.228746
beds                              0.227224
guests_included                   0.206347
Free_parking_on_premises          0.153615
extra_people                      0.147303
Pool                              0.137573
Dryer                             0.127535
m2                                0.103549
latitude                         -0.103310
reviews_per_month                -0.099972
Hot_tub                           0.099358
Air_conditioning                  0.093584
Crib                              0.093541
Washer                            0.092880
Dishwasher                        0.086856
Suitable_for_events               0.080509
Family/kid_friendly               0.080476
property_type                     0.080342
Full_kitchen                      0.078409
Internet                          0.078405
Bathtub                           0.076397
number_of_reviews                -0.074451
calculated_host_listings_count    0.073399
Cable_TV                          0.071183
room_type                        -0.069641
Wheelchair_accessible             0.068952
Pack_â€™n_Play/travel_crib          0.067297
Indoor_fireplace                  0.067285
Dishes_and_silverware            -0.066192
Paid_parking_off_premises        -0.065746
Doorman                           0.065220
Hot_water                        -0.065191
High_chair                        0.062138
Extra_pillows_and_blankets       -0.056673
neighbourhood                    -0.055464
BBQ_grill                         0.054995
Hair_dryer                        0.054976
Bed_linens                       -0.054297
Stove                            -0.052263
Private_pool                      0.051720
Cooking_basics                   -0.049069
Refrigerator                     -0.049040
Buzzer/wireless_intercom          0.046848
Beachfront                        0.045049
Outdoor_seating                   0.044656
instant_bookable                 -0.044161
Name: price, dtype: float64

In [14]:
# SeleÃ§Ã£o dos vinte atributos mais relevantes Ã  modelagem preditiva (feature selection).

# Atributos redundantes nÃ£o serÃ£o selecionados para nÃ£o confundir o modelo.
# A seleÃ§Ã£o serÃ¡ feita com base na forÃ§a da correlaÃ§Ã£o e na unicidade da caracterÃ­stica descrita
# Por exemplo: Bathrooms, bedrooms, accomodates e beds referem-se Ã  mesma caracterÃ­stica: Capacidade de acomodaÃ§Ã£o do imÃ³vel
# Portanto, desses atributos, apenas um serÃ¡ selecionado.
# De acordo com o conhecimento do negÃ³cio, para essa caracterÃ­stica, serÃ¡ Bedrooms.
# Pois o atributo de maior destaque em relaÃ§Ã£o Ã  acomodaÃ§Ã£o, em anÃºncios de hospedagem, costuma ser a quantidade de quartos.

# Como o dataset possui 202 atributos e, pela descriÃ§Ã£o dos atributos mais relevantes, selecionamos os 10% melhores.

correlated = ['bedrooms', 'cleaning_fee', 'security_deposit', 'Free_parking_on_premises', 'extra_people', 'Pool', 'Dryer', 'm2', 'reviews_per_month', 'Hot_tub', 'Air_conditioning', 'Crib', 'Washer', 'Dishwasher', 'Suitable_for_events', 'property_type', 'Full_kitchen', 'Internet', 'Bathtub', 'Cable_TV']

In [15]:
# SeleÃ§Ã£o de atributos auxiliares e alvo

location = ['latitude', 'longitude', 'neighbourhood']
target = ['price']

In [16]:
# elaboraÃ§Ã£o da lista de features a serem analisadas

features = location + correlated + target
features

['latitude',
 'longitude',
 'neighbourhood',
 'bedrooms',
 'cleaning_fee',
 'security_deposit',
 'Free_parking_on_premises',
 'extra_people',
 'Pool',
 'Dryer',
 'm2',
 'reviews_per_month',
 'Hot_tub',
 'Air_conditioning',
 'Crib',
 'Washer',
 'Dishwasher',
 'Suitable_for_events',
 'property_type',
 'Full_kitchen',
 'Internet',
 'Bathtub',
 'Cable_TV',
 'price']

In [17]:
df_airbnb = df_airbnb[features]
df_airbnb

,latitude,longitude,neighbourhood,bedrooms,cleaning_fee,security_deposit,Free_parking_on_premises,extra_people,Pool,Dryer,...,Crib,Washer,Dishwasher,Suitable_for_events,property_type,Full_kitchen,Internet,Bathtub,Cable_TV,price
id,,,,,,,,,,,,,,,,,,,,,
32046194,-22.98538,-43.19582,0,2.0,73.0,0.0,0,49.0,0,0,...,0,0,0,0,0,0,0,0,0,395.0
2060895,-22.91544,-43.18171,1,1.0,35.0,0.0,0,25.0,0,0,...,0,1,0,1,1,0,1,0,0,84.0
8067388,-22.95565,-43.19536,2,2.0,160.0,0.0,0,90.0,0,0,...,0,1,0,0,0,0,1,0,1,382.0
26081807,-22.98617,-43.22759,3,1.0,120.0,1200.0,0,100.0,0,0,...,0,0,0,0,0,0,0,0,1,151.0
31051808,-22.94991,-43.19289,2,3.0,150.0,0.0,0,70.0,0,0,...,0,1,0,0,0,0,0,0,0,348.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9585159,-22.98618,-43.22230,3,3.0,400.0,2000.0,0,0.0,0,1,...,0,1,0,0,0,0,1,0,1,2599.0
33040588,-23.01099,-43.37111,6,1.0,90.0,0.0,1,0.0,1,0,...,0,0,0,0,0,0,0,0,0,369.0
316355,-22.97916,-43.22686,3,1.0,195.0,825.0,0,98.0,0,0,...,0,0,0,1,0,0,1,0,1,181.0
20706150,-22.98422,-43.21260,0,2.0,180.0,0.0,0,100.0,0,0,...,0,1,0,0,0,0,0,0,1,260.0
2081842,-22.97370,-43.18741,7,2.0,200.0,500.0,0,0.0,0,0,...,0,1,0,0,0,0,1,0,1,252.0

In [18]:
df_airbnb.to_csv('airbnb.csv')