In [1]:
import pandas as pd
import numpy as np

In [2]:
df_anuncios = pd.read_csv('anuncios.csv', index_col='id', engine='python', sep =',', encoding="utf-8")
df_anuncios.head()

,host_name,host_response_time,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood,zipcode,latitude,longitude,property_type,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,calculated_host_listings_count,reviews_per_month
id,,,,,,,,,,,,,,,,,,,,,
17878,Matthias,within an hour,1.00,t,t,Copacabana,22020-050,-22.96592,-43.17896,Condominium,...,9.0,10.0,10.0,10.0,10.0,9.0,t,strict_14_with_grace_period,1,2.13
25026,Viviane,within a day,0.91,f,t,Copacabana,22060-020,-22.97712,-43.19045,Apartment,...,9.0,10.0,9.0,10.0,10.0,9.0,f,strict_14_with_grace_period,3,2.04
31560,Renata,within an hour,1.00,t,t,Ipanema,22410-003,-22.98302,-43.21427,Apartment,...,10.0,10.0,10.0,10.0,10.0,10.0,t,strict_14_with_grace_period,1,2.38
35636,Patricia,within an hour,1.00,t,t,Ipanema,22081-020,-22.98816,-43.19359,Apartment,...,10.0,9.0,10.0,10.0,10.0,9.0,f,strict_14_with_grace_period,1,2.28
35764,Patricia Miranda & Paulo,within an hour,1.00,t,t,Copacabana,21031-300,-22.98127,-43.19046,Loft,...,10.0,10.0,10.0,10.0,10.0,10.0,f,strict_14_with_grace_period,1,2.84

In [3]:
df_amenities = pd.read_csv('amenities.csv', index_col='id', engine='python', sep =',', encoding="utf-8")
df_amenities.head()

,24-hour_check-in,Accessible-height_bed,Accessible-height_toilet,Air_conditioning,Amazon_Echo,BBQ_grill,Baby_bath,Baby_monitor,Babysitter_recommendations,Balcony,...,Wide_entrance,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50
id,,,,,,,,,,,,,,,,,,,,,
17878,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
25026,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
31560,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,1
35636,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
35764,0,1,1,1,0,0,0,0,0,0,...,0,1,1,0,1,0,0,0,0,1

In [4]:
df_metro_quadrado = pd.read_csv('metro_quadrado.csv', index_col='neighbourhood', engine='python', sep =',', encoding="utf-8")
df_metro_quadrado.head()

                  m2
neighbourhood
Ipanema        20908
Copacabana     12169
Leme           12211
Catete         10486
Lapa            3277

In [5]:
df_anuncios.describe()

,host_response_rate,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,security_deposit,cleaning_fee,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,reviews_per_month
count,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,...,9861.000000,9861.000000,9861.000000,9861.000000,9861.00000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000
mean,0.918139,-22.970356,-43.230672,4.232431,1.597303,1.568097,2.639083,345.807525,654.149072,145.846770,...,21.776189,94.803772,9.682487,9.456242,9.81148,9.786938,9.801846,9.331914,7.999392,0.863265
std,0.176137,0.028181,0.080298,2.334529,0.888020,0.995096,1.963937,677.145824,1360.089899,102.370078,...,35.432318,8.488587,0.795325,0.982110,0.65611,0.681050,0.608160,0.948932,21.941310,0.976393
min,0.000000,-23.072620,-43.567640,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,20.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,1.000000,0.010000
25%,0.900000,-22.984620,-43.224860,2.000000,1.000000,1.000000,1.000000,139.000000,0.000000,90.000000,...,3.000000,93.000000,10.000000,9.000000,10.00000,10.000000,10.000000,9.000000,1.000000,0.180000
50%,1.000000,-22.975110,-43.192810,4.000000,1.000000,1.000000,2.000000,210.000000,398.000000,150.000000,...,8.000000,98.000000,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,2.000000,0.530000
75%,1.000000,-22.962720,-43.185080,5.000000,2.000000,2.000000,3.000000,361.000000,800.000000,190.000000,...,24.000000,100.000000,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,4.000000,1.170000
max,1.000000,-22.806570,-43.159080,25.000000,15.000000,15.000000,35.000000,31398.000000,20991.000000,1469.000000,...,372.000000,100.000000,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,205.000000,8.410000

In [6]:
df_amenities.describe()

,24-hour_check-in,Accessible-height_bed,Accessible-height_toilet,Air_conditioning,Amazon_Echo,BBQ_grill,Baby_bath,Baby_monitor,Babysitter_recommendations,Balcony,...,Wide_entrance,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50
count,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,...,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000
mean,0.137714,0.103539,0.079505,0.863401,0.000101,0.054051,0.013183,0.001318,0.019673,0.000507,...,0.072711,0.134773,0.083866,0.124937,0.941182,0.057296,0.000406,0.030119,0.094717,0.138830
std,0.344617,0.304677,0.270539,0.343441,0.010070,0.226130,0.114065,0.036287,0.138883,0.022513,...,0.259674,0.341499,0.277200,0.330664,0.235295,0.232420,0.020137,0.170922,0.292838,0.345786
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
df_metro_quadrado.describe()

                 m2
count     97.000000
mean    3920.896907
std     4671.840614
min      439.000000
25%     1272.000000
50%     1688.000000
75%     4961.000000
max    23625.000000

In [8]:
df_airbnb_cat = pd.concat([df_anuncios, df_amenities], axis=1)
df_airbnb_cat

,host_name,host_response_time,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood,zipcode,latitude,longitude,property_type,...,Wide_entrance,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50
id,,,,,,,,,,,,,,,,,,,,,
17878,Matthias,within an hour,1.00,t,t,Copacabana,22020-050,-22.96592,-43.17896,Condominium,...,0,0,0,0,1,0,0,0,0,0
25026,Viviane,within a day,0.91,f,t,Copacabana,22060-020,-22.97712,-43.19045,Apartment,...,0,0,0,0,1,0,0,0,0,0
31560,Renata,within an hour,1.00,t,t,Ipanema,22410-003,-22.98302,-43.21427,Apartment,...,0,0,0,0,1,0,0,0,1,1
35636,Patricia,within an hour,1.00,t,t,Ipanema,22081-020,-22.98816,-43.19359,Apartment,...,0,0,0,0,1,0,0,0,0,0
35764,Patricia Miranda & Paulo,within an hour,1.00,t,t,Copacabana,21031-300,-22.98127,-43.19046,Loft,...,0,1,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40009653,Lya,within a few hours,1.00,f,f,Copacabana,22081-000,-22.98304,-43.19569,Apartment,...,0,0,0,0,1,0,0,0,0,0
40025707,Marcos Antonio,within an hour,1.00,f,t,Copacabana,22040-001,-22.97132,-43.18929,Apartment,...,0,0,0,0,1,0,0,0,0,0
40033232,Priscila,within a few hours,0.92,f,t,Santa Teresa,20241-080,-22.91599,-43.17894,Apartment,...,0,0,0,0,1,0,0,0,0,0
40050039,Roberto,within a few hours,0.88,f,f,Copacabana,22040-010,-22.96768,-43.18330,Apartment,...,0,0,0,0,1,0,0,0,0,0
40064433,Raquel Grama,within a few hours,1.00,f,f,Copacabana,22021-000,-22.97401,-43.18541,Apartment,...,0,0,0,0,1,0,0,0,0,0

In [9]:
df_airbnb_cat.drop(columns='amenities', inplace=True)
df_airbnb_cat

,host_name,host_response_time,host_response_rate,host_is_superhost,host_identity_verified,neighbourhood,zipcode,latitude,longitude,property_type,...,Wide_entrance,Wide_entrance_for_guests,Wide_entryway,Wide_hallways,Wifi,Window_guards,Wine_cooler,_toilet,translation_missing:_en.hosting_amenity_49,translation_missing:_en.hosting_amenity_50
id,,,,,,,,,,,,,,,,,,,,,
17878,Matthias,within an hour,1.00,t,t,Copacabana,22020-050,-22.96592,-43.17896,Condominium,...,0,0,0,0,1,0,0,0,0,0
25026,Viviane,within a day,0.91,f,t,Copacabana,22060-020,-22.97712,-43.19045,Apartment,...,0,0,0,0,1,0,0,0,0,0
31560,Renata,within an hour,1.00,t,t,Ipanema,22410-003,-22.98302,-43.21427,Apartment,...,0,0,0,0,1,0,0,0,1,1
35636,Patricia,within an hour,1.00,t,t,Ipanema,22081-020,-22.98816,-43.19359,Apartment,...,0,0,0,0,1,0,0,0,0,0
35764,Patricia Miranda & Paulo,within an hour,1.00,t,t,Copacabana,21031-300,-22.98127,-43.19046,Loft,...,0,1,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40009653,Lya,within a few hours,1.00,f,f,Copacabana,22081-000,-22.98304,-43.19569,Apartment,...,0,0,0,0,1,0,0,0,0,0
40025707,Marcos Antonio,within an hour,1.00,f,t,Copacabana,22040-001,-22.97132,-43.18929,Apartment,...,0,0,0,0,1,0,0,0,0,0
40033232,Priscila,within a few hours,0.92,f,t,Santa Teresa,20241-080,-22.91599,-43.17894,Apartment,...,0,0,0,0,1,0,0,0,0,0
40050039,Roberto,within a few hours,0.88,f,f,Copacabana,22040-010,-22.96768,-43.18330,Apartment,...,0,0,0,0,1,0,0,0,0,0
40064433,Raquel Grama,within a few hours,1.00,f,f,Copacabana,22021-000,-22.97401,-43.18541,Apartment,...,0,0,0,0,1,0,0,0,0,0

In [10]:
df_airbnb_cat = df_airbnb_cat.join(df_metro_quadrado, on='neighbourhood', how='left')

In [11]:
df_airbnb_cat.to_csv('airbnb_cat.csv')